<%if user_signed_in? %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 d-block d-md-none promo_sm">
            <p>広告スペース(小)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 d-none d-md-block promo_bg left">
            <p>広告スペース(大)</p>
          </div>
          <div class="col-md-2 d-none d-md-block promo_bg right">
            <p>広告スペース(大)</p>
          </div>
        </div>

          <div class="row">
            <div class="col-md-12 note-field" id="my_notes_area">

              <% if @own_notes.present? %>

                <%= render 'shared/my_content', note: @own_notes %>

              <% else %>

                <p>現在買うものはありません</p>

              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>

  <%= render 'shared/note_modal' %>

  <%= render 'shared/note_form' %>

  <div class="page_top"><a href="#"><i class="fa fa-angle-double-up"></i></a></div>

<% else %>

  <h1 class="app_title">
    有吉の買い物メモ<br>アプリへようこそ
  </h1>
  <ul class="top_page_btn">
    <li class="btn top_page_btn" id="new"><%= link_to "新規登録",new_user_registration_path %></li>
    <li class="btn top_page_btn" id="login"><%= link_to "ログイン",new_user_session_path %></li>
    <li class="btn top_page_btn" id="guest"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></li>
  </ul>
<% end %>
