<p>お気に入り商品一覧</p>

<% if @item_exists %>

  <%= form_with url: post_favorite_items_path, local:true do |f| %>

    <%= render "shared/favItem_list", f: f %>

    <div class= "form_body">
      <%= f.submit "選択したお気に入り商品を投稿",class:"btn btn-light" %>
    </div>

  <% end %>

<% else %>

  <p>現在お気に入り商品はありません</p>

<% end %>

  <ul class="f_item_btn">
    <li><%= link_to "登録ページへ移動",new_favorite_item_path, class:"btn btn-dark" %></li>
    <li><%= link_to "戻る",:back , class:"btn btn-dark" %></li>
  </ul>
