<p>お気に入り商品登録</p>

<% if @item_exists %>

  <%= form_with url: favorite_items_path, method: :delete do |f| %>

    <%= render 'shared/favItem_list', f: f %>

    <%= f.submit "商品をまとめて削除",class:"btn btn-warning destroy" %>

  <% end %>

<% else %>

  <p>現在お気に入り商品はありません</p>

<% end %>

  <ul>
    <li><%= link_to "戻る",:back , class:"btn btn-dark" %></li>
  </ul>
  <div class= "form_body">
      <div class="f_item_form">
        <%= form_with model: @favorite_item do |f| %>
          <%= f.text_field :name, class: "form", placeholder:'商品名を入力(複数ある場合は間に空白を入れて入力してください)' %>
          <%= f.submit "登録",class:"btn btn-light" %>
        <% end %>
      </div>
  </div>
