

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
      <div class="col-md-3 d-none d-md-block promo_bg left">
        <p class="promo_info1">- アプリのおすすめポイント① -<br>お気に入り登録でラクラク投稿♪</p>
        <img class="promo_image" src="/お気に入り投稿.gif">
        <p class="promo_info2">ナビ項目の【お気に入り商品】ページで事前に登録!<br>
        下の★をクリックして専用ページから投稿出来ます
      </p>
    </div>
        <div class="col-md-3 d-none d-md-block promo_bg right">
        <p class="promo_info1">- アプリのおすすめポイント② -<br>グループ毎に買う物を管理出来る!</p>
        <img class="promo_image" src="/グループ一覧.png">
        <p class="promo_info2">ナビ項目の【グループ情報】<【グループ作成】ページで<br>
        グループを作り、用途に応じて活用出来ます♪</p>
        </div>
      </div>

      <div class="row chatroom_info">
        <div class="col-12 chatroom_info">
          <div class="row info group_title">
            <div class="col-12">
              <%= "ルーム名：#{@group.name}" %>
              <% if @group.image.present? %>
                <img src= "<%= @group.image %>" class="image_icon">
              <% else %>
                <img src= "/default_group_icon.png" class="image_icon">
              <% end %><br/>
            </div>
          </div>
        </div>
      </div>

      <% if @group_notes.present? %>

        <div id="chat_area">
          <%= render "shared/chatroom_content", notes: @group_notes %>
        </div>

      <% else %>

        <div id="chat_area" class="chatarea_no_content">現在買うものはありません</div>

      <% end %>

    </div>
  </div>
</div>
<%= render "shared/note_modal" %>

<ul class="form_body">
    <%= form_with url: create_post_group_path do |f| %>
        <%= f.hidden_field :group_id, :value => @group.id %>

        <li><%= f.text_field :content, id: "note_create_form", class:"form-control form" , placeholder: "商品名を入力" %></li>
        <li>
          <%= f.label :image, class:"image_form" do %>
        <label>
          <i class="fa fa-image btn"></i>
          <%= f.file_field :image, class: "file_field" %>
        </label>
        <% end %>
        </li>
        <li>
          <%= link_to favorite_items_path(group_id: @group.id) do %>
          <i class="fa fa-star btn" aria-hidden="true"></i>
          <% end %>
        </li>

        <li><%= f.submit "投稿", class: "btn btn-light form-btn" %></li>

        <div class="page_top"><a href="#"><i class="fa fa-angle-double-up"></i></a></div>
        <ul>
          <li class="js-upload-filename"></li>
        </ul>
    <% end %>
  </ul>
