<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-12 d-block d-md-none promo_sm">
          <p>広告スペース(小)</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 d-none d-md-block promo_bg left">
          <p>広告スペース(大)</p>
        </div>
        <div class="col-md-2 d-none d-md-block promo_bg right">
          <p>広告スペース(大)</p>
        </div>
      </div>

      <div class="row chatroom_info">
        <div class="col-12 chatroom_info">
          <div class="row info group_title">
            <div class="col-12">
              <%= "ルーム名：#{@group.name}" %>
              <% if @group.image.present? %>
                <img src= "<%= @group.image %>" class="image_icon">
              <% else %>
                <img src= "/assets/default_group_icon.png" class="image_icon">
              <% end %><br/>
            </div>
          </div>
        </div>
      </div>
      <%= form_with url: note_path do |f| %>
              <% if @group_notes.present? %>
                <% @group_notes.each do |note| %>

                  <!-- <div class="row group_member_name"> -->
                  <ul>
                  <% unless note.user == current_user %>
                    <li class="col-6">
                    <li class="col-6 namespace">
                      <%= note.user.name %>
                      <% if note.user.image.present? %>
                        <img src="<%= note.user.image %>" class="user_icon" >
                      <% else %>
                        <img src="/assets/default_user_icon.jpg" class="user_icon" >
                      <% end %>
                    </li>

                  <% end %>
                  </ul>
                  <!-- </div> -->

                  <%= render 'shared/note_content', note: note, f: f %>


                <% end %>

              <% else %>

                <p>現在買うものはありません</p>

              <% end %>

        </div>
        <% end %>

  </div>
</div>
<%= render 'shared/note_modal' %>

<ul class="form_body">
    <%= form_with model: @note ,url: notes_path do |f| %>
        <%= f.hidden_field :group_id, :value => @group.id %>

        <li><%= f.text_field :content,class:'form' , placeholder: "商品名を入力" %></li>
        <li>
          <%= f.label :image, class:'image_form' do %>
        <label>
          <i class="fa fa-image btn"></i>
          <%= f.file_field :image, class: "file_field" %>
        </label>
        <% end %>
        </li>
        <li>
          <%= link_to favorite_items_path(group_id: @group.id) do %>
          <i class="fa fa-star btn" aria-hidden="true"></i>
          <% end %>
        </li>

        <li><%= f.submit "投稿", class: "btn btn-light form-btn" %></li>

        <div class="page_top"><a href="#"><i class="fa fa-angle-double-up"></i></a></div>
        <ul>
          <li class="js-upload-filename"></li>
        </ul>
    <% end %>
  </ul>
