
<%= form_with url: destroy_post_group_path do |f| %>

<%= f.hidden_field :group_id, :value => @group.id %>

  <% notes.each do |note| %>


    <%= f.label :note_ids do %>
    <label>
      <% if note.user == current_user %>

        <%= f.check_box :note_ids, {type: "checkbox", class: "checkbox-select", id: "checkbox#{note}", multiple: true,include_hidden: false}, note.id %>

        <div class="btn own_note">

          <%= render "shared/note", note: note %>

        </div>

      <% else %>

        <div class="namespace">
          <%= note.user.name %>
          <% if note.user.image.present? %>
            <img src="<%= note.user.image %>" class="user_icon" >
          <% else %>
            <img src="/default_user_icon.jpg" class="user_icon" >
          <% end %>
        </div>

        <%= f.check_box :note_ids, {type: "checkbox", class: "checkbox-select", id: "checkbox#{note}", multiple: true,include_hidden: false}, note.id %>

        <div class="col-8 btn other_note">

          <%= render "shared/note", note: note %>

        </div>
      <% end %>
    </label>
    <% end %>

    <div class="time"><%= note.created_at.to_s(:datetime) %></div>

  <% end %>

<div class = "destroy">
  <%= f.submit "購入しました", class: "btn btn-warning" %>
</div>

<% end %>
