<%= form_with url: post_favorite_items_path do |f| %>
  <% @favorite_item_groups.each do |item_group| %>
      <p>-<%= item_group[:idx] %>-</p>
      <% item_group[:items].each do |item| %>
        <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
        <%= item.name %>
    <% end %><br/>
  <% end %>

  <% if params[:group_id].present? %>

    <%= f.hidden_field :group_id, :value => params[:group_id] %>

  <% end %>

    <%= f.submit "選択したお気に入り商品を投稿",class:"btn btn-light" %>

<% end %>
