<ul>
  <li class="note_content">
      <div id="note_text"><%= note.content %></div>
      <% if note.image.present? %>
        <img src="<%= note.image %>"class="note_image" >
      <% end %>
  </li>
  <li class="note_btn">
    <div class="item_count">
    <%= note.count %>
      <% if note.count.present? %>
        <span>個</span>
      <% end %>
    </div>


    <button type="button" class="btn js_count_btn" data-toggle="modal" data-target="#count_Modal" value="<%= note.id %>" id="js_count"><i class="fa fa-sort" aria-hidden="true"></i></button>
    <button type="button" class="btn js_comment_btn" data-toggle="modal" data-target="#comment_Modal" value="<%= note.id %>" id="js_comment"><i class="fa fa-pencil" aria-hidden="true"></i></button>
  </li>
</ul>

<div class="comment">
  <% note.comments.each do |comment| %>
    <div class="comment_list">
      <%= link_to comment.content ,comment_path(comment.id), method: :delete,data:{confirm: "本当に削除しますか?"} %>
        <span> : </span>
      <%= comment.user.name %>
    </div>
  <% end %>
</div>
