<%= f.label :note_ids do %>
<label>
<%= f.check_box :note_ids, {type: 'checkbox', class: 'checkbox-select', id: "checkbox#{note}", multiple: true,include_hidden: false}, note.id %>

<% if note.user == current_user %>

  <div class="btn btn-dark own_note">

    <%= render 'shared/note', note: note %>

  </div>

<% else %>

  <div class="btn btn-light other_note">

   <%= render 'shared/note', note: note, f: f %>

  </div>
</label>
<% end %>
  <% end %>

  <script>
$(function(){
    $('input[type=checkbox]').click(function() {
        if ($(this).prop('checked')) {
            $('.destroy').show();
        } else {
            $('.destroy').hide();
        }
    });
});
</script>

<div class="time"><%= note.created_at.to_s(:datetime) %></div>
