<%if user_signed_in? %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 d-block d-md-none promo_sm">
            <p>広告スペース(小)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 d-none d-md-block promo_bg left">
            <p>広告スペース(大)</p>
          </div>
          <div class="col-md-2 d-none d-md-block promo_bg right">
            <p>広告スペース(大)</p>
          </div>
        </div>

          <div class="row">
            <div class="col-md-12 note-field">
            <%= form_with url: note_path do |f| %>

              <% if @own_notes.present? %>

                <% @own_notes.each do |note| %>

                    <%= render 'shared/note_content', note: note, f: f %>

                <% end %>

                <%= f.submit '購入しました', class: 'btn btn btn-warning destroy' %>

              <% else %>

                <p>現在買うものはありません</p>

              <% end %>
            </div>
          </div>
          <% end %>

      </div>
    </div>
  </div>

  <%= render 'shared/note_modal' %>

  <%= render 'shared/note_form' %>

  <script type="text/javascript">
  $('.js_count_btn').click(function() {
  $('#count_id').val(this.value);
  });
  $('.js_comment_btn').on('click', function () {
  $('#comment_id').val(this.value);
  })
  </script>

<% else %>

  <h1 class="app_title">
    有吉の買い物メモ<br>アプリへようこそ
  </h1>

<h3><a <%= link_to "ユーザー登録して利用開始！",new_user_registration_path %></a></h3><br />
<h5><a <%= link_to "登録済みの方はコチラから",new_user_session_path %></a></h5>

<% end %>
