<%if user_signed_in? %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12 d-block d-md-none promo_sm">
            <p>広告スペース(小)</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 d-none d-md-block promo_bg left">
            <p>広告スペース(大)</p>
          </div>
          <div class="col-md-2 d-none d-md-block promo_bg right">
            <p>広告スペース(大)</p>
          </div>
        </div>

          <div class="row">
            <div class="col-md-12 note-field">
            <%= form_with url: note_path do |f| %>

              <% if @own_notes.present? %>

                <% @own_notes.each do |note| %>

                    <%= render 'shared/note_content', note: note, f: f %>

                <% end %>

                <%= f.submit '購入しました', class: 'btn btn btn-warning destroy' %>

              <% else %>

                <p>現在買うものはありません</p>

              <% end %>
            </div>
          </div>
          <% end %>

      </div>
    </div>
  </div>

  <%= render 'shared/note_modal' %>

  <%= render 'shared/note_form' %>

<% else %>

  <h1 class="app_title">
    有吉の買い物メモ<br>アプリへようこそ
  </h1>
  <ul class="top_page_btn">
    <li class="btn top_page_btn" id="new"><%= link_to "新規登録",new_user_registration_path %></li>
    <li class="btn top_page_btn" id="login"><%= link_to "ログイン",new_user_session_path %></li>
    <li class="btn top_page_btn" id="guest"><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %></li>
  </ul>
<% end %>
