<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-2">
        </div>

        <div class="col-md-8 chatroom_info">
        <% if @own_notes.present? %>
          <%= form_with url: note_path do |f| %>

            <% @own_notes.each do |note| %>

                <%= render 'shared/note_content', note: note %>

            <% end %>

            <%= f.submit '購入しました', class: 'btn btn btn-warning destroy' %>

          <% end %>
        <% else %>
          <p>現在買うものはありません</p>
        <% end %>

        <ul>
          <li><%= link_to "1つ前に戻る",tutorial_3_path, class:"btn btn-dark" %></li>

          <li><%= link_to "実際に使い始める！",root_path, class:"btn btn-warning" %></li>
        </ul>

        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/note_modal' %>

<%= render 'shared/note_form' %>

<div class="form_body" id="searches_form"></div>

<script type="text/javascript">
$('.js_count_btn').click(function() {
$('#count_id').val(this.value);
});
$('.js_comment_btn').on('click', function () {
$('#comment_id').val(this.value);
})
</script>
