<% if @item_exists %>

  <p>お気に入り商品を投稿しましょう！投稿したい商品をチェックして[投稿]ボタンを押してください！</p>

  <p>お気に入り商品一覧</p>


  <%= form_with url: post_favitem_tutorials_path, local:true do |f| %>

    <%= render "shared/favItem_list", f: f %>

    <% if params[:group_id].present? %>

      <%= f.hidden_field :group_id, :value => params[:group_id] %>

    <% end %>

    <div class= "form_body" id="searches_form">
      <div class="form_title">投稿したい商品を選択し、投稿ボタンを押してください</div>
      <div><%= f.submit "投稿",class:"btn btn-light" %></div>
    </div>

  <% end %>

    <ul>
      <li><%= link_to "1つ前に戻る",new_favitem_tutorials_path, class:"btn btn-dark" %></li>
      <li><%= link_to "チュートリアルを終了",root_path, class:"btn btn-dark" %></li>
    </ul>

<% else %>

  <p>登録中の商品がありません。下記ボタンから1つ前のページに戻り、お気に入り商品を登録してください</p>
  <ul>
    <li class="f_items_link"><%= link_to "1つ前に戻る",new_favitem_tutorials_path, class:"btn btn-dark" %></li>
    <li class="f_items_link"><%= link_to "チュートリアルを終了",root_path, class:"btn btn-dark" %></li>
  </ul>

<% end %>
