<% if @own_notes.present? %>
<div class="alert alert-dark">
  <small>
    1.投稿の削除は、消したい投稿にチェックを入れて、画面下に表示される[購入しました]ボタンを押してください！<br>
    2.投稿には数量やコメントをつけることも出来ます！右側のアイコンをタップして試してみましょう♪<br/>
    (コメントは、削除したいものをタップすることで削除することが出来ます)<br/>
    3.画像投稿を行うことも可能です！投稿フォーム下のアイコンをタップして試してみましょう♪
  </small>
</div>
<p>メモの投稿/削除方法が確認出来たら次のページへ！</p>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-12 note-field" id="my_notes_area">

              <%= render "shared/my_content", note: @own_notes %>

          </div>

<% else %>

            <p>まずはメモの投稿！ページ下の入力フォームに商品名を入力して[投稿]ボタンを押してください</p>

<% end %>


        <ul class="col-md-12 note-field">
          <li class="f_items_link"><%= link_to "お気に入り商品 の説明に進む",new_favitem_tutorials_path, class:"btn btn-warning" %></li>
          <li class="f_items_link"><%= link_to "チュートリアルを終了",root_path, class:"btn btn-dark" %></li>
        </ul>

        </div>

      </div>
    </div>
  </div>


  <%= render "shared/note_modal" %>

  <ul class="form_body">
    <%= form_with url:  create_note_tutorials_path do |f| %>

          <li><%= f.text_field :content,id:"note_create_form",class:"form form-control note_form" , placeholder: "商品名を入力" %></li>
          <li>
            <%= f.label :image, class:"image_form" do %>
          <label>
            <i class="fa fa-image btn"></i>
            <%= f.file_field :image, class: "file_field" %>
          </label>
          <% end %>
          </li>
          <li>
          <%= link_to favorite_items_path do %>
          <i class="fa fa-star btn" aria-hidden="true"></i>
          <% end %>
          </li>
          <li><%= f.submit "投稿", class: "btn btn-light form-btn" %></li>
    <% end %>

    <ul>
      <li class="js-upload-filename"></li>
  </ul>

  <script type="text/javascript">
  $(".js_count_btn").click(function() {
  $("#count_id").val(this.value);
  });
  $(".js_comment_btn").on("click", function () {
  $("#comment_id").val(this.value);
  })
  </script>
