<h1>アプリのレビュー投稿</h1>
<p>アプリの星評価と、使ってよかった点や改善すべき点がありましたらコメントをお願いします！</p>
<div class="review_form_body">
<%= form_with model: @review, local:true, url: reviews_path do |f| %>
  <div id="rate">
    <%= f.label :"アプリの評価(5段階)(任意)" %>
    <%= f.hidden_field :rate, id: :review_rate %>
  </div>
    <%= f.text_field :content, class:"form-control" , placeholder: "レビュータイトルを入力(任意)" %><br>
    <%= f.text_area :content, class:"form-control", size: "50x20",placeholder: "レビュー内容を入力(必須)" %><br>
    <%= f.submit "レビュー評価", :class => "btn btn-light" %>
<% end %>
</div>

<script>
$("#rate").raty({
  size     : 36,
  starOff:  "<%= asset_path("star-off.png") %>",
  starOn : "<%= asset_path("star-on.png") %>",
  scoreName: "review[rate]"
});
</script>
